<!DOCTYPE HTML>
<html>
    <head>
        <title>Shop Handmade Crocheted Hats, Clothing, and Accessories | Sweet Stitches by Karen</title>
        <link rel="stylesheet" type="text/css" href="/product.css">
        <link rel="stylesheet" type="text/css" href="/navbar.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400|Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <% include partials/navbar %>

        <div id="product">
            <img src="<%= product.image %>" class="product-img">
            <div class="product-about">
                <h1><%= product.name %></h1>
                <h3><%= product.size %></h3>
                <p><%= product.desc %></p>
                <h3>$<%= product.price %></h3>
                <p>
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <!--Identify your business so that you can collect the payments. -->
                        <input type="hidden" name="business" value="Karen@SweetStitches.com">
                        <!--Specify a PayPal Shopping Cart Add to Cart button. -->
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <!--Specify details about the item that buyers will purchase. -->
                        <input type="hidden" name="item_name" value="<%= product.name %> - <%= product.size %>">
                        <input type="hidden" name="item_id" value="<%= product.id %>">
                        <input type="hidden" name="amount" value="<%= product.price %>">
                        <input type="hidden" name="currency_code" value="USD">
                        <!--Display the payment button. -->
                        <button id="add-to-cart">Add To Cart <i class="fa fa-cart-plus"></i></button>
                    </form>
                </p>
            </div>
        </div>
    </body>
</html>